@CHARSET "UTF-8";

/*member_login.jsp ui */
#login_wrap{
	width:300px; height:155px; border:1px solid skyblue;
	border-radius:20px; box-shadow:15px 15px 15px red;
	margin-left:auto; margin-right:auto;
	margin-top:100px;
}
#login_wrap .login_title{
	margin:18px 0 0 100px; width:90px;
	background:pink; border-radius:15px; font-size:19px;
	text-align:center; padding:3px;
}
.input_Login{
	width:60px; height:60px;
}
.input_Login:hover{
	cursor:hand; cursor:pointer; font-weight:bold;
	border-radius:15px; box-shadow:5px 5px 5px orange;
	background:#ccc; border:1px solid red;
}
.box{
	border:1px solid blue; border-radius:10px; padding:3px;
}
.box:hover{
	background:#ccc;
}
.input_b:hover{
    cursor:hand;cursor:pointer; background:pink;
    font-weight:bold; border-radius:10px; border:1px dotted red;
    /*dotted는 실선이 아니라 점선을 그린다.*/	
}
#login_t{
    margin:5px 0 0 12px;	
}
/* member_join.jsp ui */
#join_wrap{
  width:540px; height:450px; border:1px solid skyblue;
  border-radius:15px; margin-top:100px; margin-left:auto;
  margin-right:auto; box-shadow:10px 10px 10px red;	
}
#join_wrap .join_title{
  margin:20px 0 0 230px; width:100px;
  background:pink; border-radius:15px; font-size:19px;
  text-align:center; padding:5px;	
}
#join_t{
  margin:20px 0 0 37px;	
}
#join_t th{
	background:pink; border-radius:10px;
}
#join_menu{
	margin:20px 0 0 180px;
}
/* pwd_find.jsp ui */
#pwd_wrap{
	width:260px; height:200px;
	border:1px solid skyblue; margin-top:30px;
	margin-left:auto; margin-right:auto;
	border-radius:15px; box-shadow:10px 10px 10px red;
}
#pwd_wrap .pwd_title{
	margin:20px 0 0 86px; width:100px;
	background:pink; border-radius:12px; font-size:19px;
	text-align:center; padding:5px;
}
#pwd_t{
	margin:20px 0 0 20px;
}
#pwd_t th{
	background:pink; border-radius:15px;
}
#pwd_menu{
	margin:15px 0 0 80px;
}

/* pwd_find_ok.jsp ui */
#pwdok_wrap{
	width:200px; height:150px;
	margin-top:40px; margin-left:auto; margin-right:auto;
	border:1px solid skyblue; border-radius:15px;
	box-shadow:10px 10px 10px red;
}
#pwdok_wrap .pwdok_title{
	margin:20px 0 0 20px; width:150px; font-size:19px;
	background:pink; border-radius:13px; padding:5px;
	text-align:center;
}
#pwdok_t{
    margin:20px 0 0 35px;    	
}
#pwdok_t th{
	background:pink; border-radius:13px;
}
#pwdok_menu{
	margin:15px 0 0 70px;
}

/* index.jsp ui */
#index_wrap{
	width:370px; height:130px; 
	border:1px solid skyblue;
	border-radius:15px; 
	box-shadow:10px 10px 150px green;
	margin-top:100px; margin-left:auto; 
	margin-right:auto;
}
#index_wrap .index_title{
	margin:20px 0 0 140px; font-size:19px;
}
#index_t{
	margin:13px 0 0 27px;
}

/* member_edit.jsp ui */
#edit_wrap{
	width:520px; height:437px;
	border:1px solid skyblue; border-radius:15px;
	margin-top:100px;
	margin-left:auto;margin-right:auto;
	box-shadow:10px 10px 10px red;
}
#edit_wrap .edit_title{
	margin:20px 0 0 205px; width:90px;
	font-size:19px; background:pink; border-radius:10px;
	text-align:center; padding:3px;
}
#edit_t{
	margin:20px 0 0 37px;
}
#edit_menu{
	margin:20px 0 0 200px;
}

/*member_DEL.jsp ui*/
#del_wrap{
	width:430px; height:360px; margin-top:100px;
	margin-left:auto; margin-right:auto;
	border:1px solid skyblue; border-radius:15px;
	box-shadow:10px 10px 10px red;
}
#del_wrap .del_title{
	margin:20px 0 0 176px; width:90px;
	background:pink; border-radius:15px;
	font-size:19px; text-align:center;
	padding:3px;
}
#del_t{
	margin:20px 0 0 20px;
}
#del_t th{
    background:pink; border-radius:10px;	
}
#del_menu{
	margin:20px 0 0 160px;
}
